{% extends 'base.html' %}
{% block contenido %}

<h3>Planificación de Raciones</h3>

<form method="POST" style="margin-bottom: 25px;">
    {% csrf_token %}
    <label>Cantidad de gallinas</label>
    <input type="number" name="gallinas" class="form-control" required>
    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Calcular</button>
</form>

{% if resultados %}
    <h4>Gallinas ingresadas: <b>{{ resultados.gallinas }}</b></h4>

    <br>

    <h4>Semana</h4>
    <table class="table table-bordered" style="width: 450px;">
        <tr>
            <td><b>Algas (g)</b></td>
            <td style="text-align: right;">{{ resultados.algas_sem }}</td>
        </tr>
        <tr>
            <td><b>Calcio (g)</b></td>
            <td style="text-align: right;">{{ resultados.calcio_sem }}</td>
        </tr>
        <tr>
            <td><b>Mezcla Total (kg)</b></td>
            <td style="text-align: right;">{{ resultados.mezcla_sem }}</td>
        </tr>
        <tr>
            <td><b>Mezcla Optimizada (kg)</b></td>
            <td style="text-align: right;">{{ resultados.mezcla_sem_opt }}</td>
        </tr>

    </table>

    <h4>Mes</h4>
    <table class="table table-bordered" style="width: 450px;">
        <tr>
            <td><b>Algas (g)</b></td>
            <td style="text-align: right;">{{ resultados.algas_mes }}</td>
        </tr>
        <tr>
            <td><b>Calcio (g)</b></td>
            <td style="text-align: right;">{{ resultados.calcio_mes }}</td>
        </tr>
        <tr>
            <td><b>Mezcla Total (kg)</b></td>
            <td style="text-align: right;">{{ resultados.mezcla_mes }}</td>
        </tr>
        <tr>
            <td><b>Mezcla Optimizada (kg)</b></td>
            <td style="text-align: right;">{{ resultados.mezcla_mes_opt }}</td>
        </tr>

    </table>

{% endif %}

{% endblock %}
